/**
Base scss
 */

 html {
   position: relative;
   min-height: 100%;
   body {
     background-color: $body-background-color;
     margin: 0 0 45px;
     width: 100%;
     font-size: $text;
     font-family: $font-family;
     display: block;
     padding-top: 0;
     height: auto !important;
     overflow: auto;
     * {
       box-sizing: border-box;
     }
   }
 }
 
 h1 {
   font-size: $h1 !important;
   font-weight: bold !important;
   margin-bottom: 35px !important;
   font-family: $font-family-black;
 }
 
 h2 {
   font-size: $h2 !important;
   font-weight: lighter !important;
 }
 
 h3 {
   font-size: $h3 !important;
   font-weight: lighter !important;
 }
 
 h4 {
   font-size: $h4 !important;
   font-weight: bold !important;
 }
 
 h5 {
   font-size: $h5 !important;
   font-weight: bold !important;
 }
 
 a {
   color: $text-color;
 }
 
 p {
   font-size: $text !important;
   font-weight: normal !important;
   margin-bottom: 20px !important;
   &:last-child {
     margin-bottom: 0 !important;
   }
 }
 
 i {
   position: absolute;
   right: 10px;
   top: 5px;
   font-size: $h4;
   color: $icon-color;
   cursor: pointer;
 }
 
 .text-error {
    color: #db8382;
 }
 
 table.dataTable {
   line-height: 2em;
 
   tbody tr:nth-child(odd) {
     background-color: #fafbfc;
   }
 }
 
 table.dataTable.display tbody td,
 table.dataTable.display tbody th,
 table.dataTable.row-border tbody td,
 table.dataTable.row-border tbody th {
     border-top: 1px solid #EEEEEE;
 }
 
 input[type="text"],
 input[type="date"],
 input[type="email"],
 input[type="number"],
 input[type="password"],
 select {
   border-top: none !important;
   border-right: none !important;
   border-bottom: solid 1px rgba($black, 0.16);
   border-left: none !important;
   box-shadow: none !important;
   background: transparent;
   padding-left: 0;
   border-radius: 0 !important;
 }
 
 input[type="text"]:focus,
 input[type="text"].focus,
 input[type="email"]:focus,
 input[type="email"].focus,
 input[type="date"]:focus,
 input[type="date"].focus,
 input[type="number"]:focus,
 input[type="number"].focus,
 select:focus,
 select.focus {
   outline: none;
   box-shadow: none;
 }
 
 input[type="password"] {
   border: none;
   border-bottom: solid 1px rgba($black, 0.16);
   background: transparent;
 }
 
 input[type="password"]:focus,
 input[type="password"].focus {
   border-bottom: solid 1px rgba($black, 0.16);
   outline: none;
 }
 
 input.input-white {
   background: #FFFFFF;
 }
 
 .input-group .form-control {
   background-color: #FFFFFF !important;
 }
 
 .form-control {
   border: 1px solid #dde6e9;
 }
 
 .form-group {
   line-height: 34px;
 }
 
 .wrapper {
   position: absolute;
   width: 100%;
   height: auto;
   min-height: 100%;
   overflow-x: hidden;
 
   >section {
     position: relative;
     height: 100%;
     z-index: 111;
     margin-bottom: 60px !important;
     margin-top: 70px;
 
     &.is-logged {
       margin-left:220px;
     }
 
     >.content-wrapper {
       padding: 20px;
       padding: 15px;
       width: 100%;
       border-top: 1px solid rgba(0,0,0,.15);
       margin-top: -1px;
 
       h3 {
         font-size: 24px;
         line-height: 1.1;
         color: #929292;
         margin: -15px;
         margin-bottom: 20px;
         padding: 15px;
         font-weight: 400;
         background-color: #fafbfc;
         border-bottom: 1px solid #cfdbe2;  
       }
     }
   }
 }
 
 .container {
   margin-right: auto;
   margin-left: auto;
 
   &.container-md {
       max-width: 970px;
       width: auto;
   }
 }
 
 
 .inline-block {
    display: inline-block;
 }
 
 .block {
    display: block;
 }
 
 .btn.btn-primary, .btn.btn-info, .btn.btn-success, .btn.btn-warning, .btn.btn-danger {
    @extend %button;
 }
 
 .btn.btn-primary {
    @extend %button;
    background-color: $background-button;
 }
 .btn.btn-white {
    background-color: #FFFFFF;
    border: 1px solid #eaeaea; 
 }
 
 .btn.btn-default {
    @extend %button;
    color: white;
    background-color: transparent;
    border: 1px solid white;
 }
 
 .btn-group-lg > .btn, .btn-lg {
     line-height: 36px;
 }
 
 .hide {
    display: none;
 }
 
 .nonlateral-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
 }
 
 .noupdown-margin{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
 }
 
 .margin-top-10 {
   margin-top: 10px !important;
 }
 
 .padding-top-10 {
    padding-top:10px !important;
 }
 
 .padding-top-20 {
    padding-top:20px !important;
 }
 
 .margin-bottom-10 {
   margin-bottom: 10px !important;
 }

 .marginLocation {
   margin-left: 10px !important;
   margin-top: 10px !important;
   margin-bottom: 10px !important;
 }
 
 .no-border {
    border: none !important;
 }
 
 .pad-0 {
   padding: 0;
 }
 
 .radius-clear {
     border-radius: 0!important;
 }
 
 .clear {
   clear: both;
 }
 
 .bb {
     border-bottom: 1px solid rgba(0,0,0,.12);
 }
 
 .lead {
     margin-bottom: 21px;
     font-size: 16px;
     font-weight: 300;
     line-height: 1.4;
 }
 
 .pointer {
   cursor: pointer  
 }
