@charset "UTF-8";

%button {
  font-size: $button-text;
  font-weight: bold;
  padding: 5px 25px;
  min-width: 200px;
  color: white;
  border-radius: 0;
  border: 0;
  text-align: center;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  &.btn-compact {
    padding: 5px 15px;
    margin: 15px;
  }
}