/**
variables.scss
 */

/* Colors */
$body-background-color: #f2f2f2;
$background-navbar: #393939;
$black: #000000;
$text-color: #303030;
$background-button: #82a2bc;
$icon-color: #95989A;
$z-color-message: #595B60;

/* Fonts */
$h1: 32px;
$h2: 30px;
$h3: 24px;
$h4: 18px;
$h5: 14px;
$text: 16px;
$text-popover: 12px;
$button-text: 16px;
$font-family: 'Open Sans', arial, sans-serif;
$font-family-bold: 'Open Sans Bold', arial, sans-serif;
$font-family-black: 'Open Sans Extra Bold', arial, sans-serif;
